@font-face {
  font-family: paraLight;
  src: url(./Schrift/Paralucent-Light.otf);
}


@font-face {
  font-family: paraMedium;
  src: url(./Schrift/Paralucent-Medium.otf);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  color: white;
}

html {
  overflow: hidden;
}

.background {
  background-color: black;
}

.bubbleTea-mode {
  background-color: #9CBE5F;
  }


.introLogo {
  width: 12.5vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation: fadeIn, grow-shrink;
  animation-duration: 2.5s;
}

.loadingPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 4;
  animation: slide, hide;
  animation-delay: 2.5s;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  visibility: hidden;
}


.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


@media (min-width: 601px){

  .active {
  color: #D32027;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

  .activeBubbleTea {
  color: #FBB95A;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

#anfahrt {
  display: none;
}

#impressum {
  display: none;
  font-family: paraLight;
  color: white;
}

  li {
  opacity: 0.5; 
}

  li:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}

    .inhalt p {
      margin-inline-end: 0.5em;
    }


    #bubbletea p {
      margin-inline-end: 0.5em;
    }


    .main {
      display: flex;
      width: 100%;
    }


    .menu, .inhalt, .footer, #bubbletea {
      height: 100vh; 
      width:33.33%;
    }


    .inhalt {
      margin-top: 7.5vw;
      bottom: 15vw;
      height: 70vh;
      overflow-y: scroll;
    }

      #bubbletea {
      display: none;
      margin-top: 0;
      bottom: 15vw;
      height: 80vh;
      overflow-y: scroll;
    }



    #logo {
      width: 15vw;
      height: auto;
      bottom: 3vw;
      margin-left: 9.2vw;
      position: fixed;
    }

    #logoBubbleTea {
      display: none;
      width: 17vw;
      height: auto;
      bottom: 3vw;
      margin-left: 7vw;
      position: fixed;
    }



    button {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      font-family: paraMedium;
      color: white;
      font-size: 1.4vw;
      display: inline-block;
    }

    .activeNavi {
      color: #D32027;
      transition: 0.5s ease-in-out;
    }

     #circleBack {
      position: absolute;
      z-index:-1;
      bottom: -85%;
      right: -40%;
      
    }

    #circleBackBubble {
      display: none;
      position: absolute;
      z-index:-1;
      bottom: -85%;
      right: -40%;
      
    }

    .circleNavi {
      visibility: hidden;
      transition: .6s ease-in-out;
      width: 33.33%;
    }

    .naviEins:hover ~ .circleNavi {
  visibility: visible;
  margin-left: 7.5%;
}

    .naviZwei:hover ~ .circleNavi {
  visibility: visible;
  margin-left: 37.5%;
}

    .naviDrei {
      display: none;
    }


    .naviEins {
      margin-inline-end: 1em
    }


    .naviZwei {
      margin-inline-start: 1em;
    }


    .naviGator {
      position: fixed;
      display: inline;
      margin-top: 2vw;
      margin-left: 8vw;
      width: 33.33%;
    }

    .bubbleteaNavi {
      position: absolute;
      height: 7.5vh;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      align-content: left;
    }

    #dropdownSpeiseZwei {
      list-style: none;
      font-family: paraLight;
      color: white;
      font-size: 1.2vw;
      padding-inline-start: 0;
      margin-top: 0;
    }

    ul#dropdownSpeiseZwei li {
    display: inline;
    margin-inline-end: 1em;
  }

    #teas {
      margin-top: 7.5%;
      overflow-y: scroll;
    }

    .speisen, .getraenke {
      position: fixed;
      height: 80vh;
      margin-left: 10vw;
      margin-top: 5vw;
      margin-bottom: 10vw;
      overflow-y: scroll;
    }


    #dropdownSpeise, #dropdownGetraenke {
      display: none;
      list-style: none;
      font-family: paraLight;
      color: white;
      font-size: 2vw;
      text-align: center;
    }


    .headline {
      font-family: paraLight;
      text-align: right;
      font-size: 2.5vw;
      color: white;
      margin: 0.3em 0 0.5em 0;
      line-height: 0.9;
    }


    .subHeadline {
      font-family: paraMedium;
      text-align: right;
      font-size: 1.2vw;
      color: white;
      margin: 0.5em 0 1em 0;
    }


    .subsubHeadline {
      font-family: paraMedium;
      text-align: right;
      font-size: 0.8vw;
      color: white;
      margin: 0.5em 0 0.5em 0;
      cursor: pointer;
    }


    .inhaltSpeiseDrei, .inhaltSpeiseZwei, .inhaltSpeiseEins {
      margin-bottom: 2em;
    }


    .speiseSubheadline {
      display: none;
      margin-top: 0;
      position: sticky;
      font-family: paraMedium;
      font-size: 1.4vw;
      color: white;
    }

     .speiseSubInfo {
      position: sticky;
      margin-top: 0;
      font-family: paraMedium;
      font-size: 1.4vw;
      color: white;
      top: 0;
    }


    .speiseNumber {
      display: inline;
      font-family: paraMedium;
      font-size: 1.5vw;
      color: #d32027;
    }

      .bubbleTeaNumber {
      display: inline;
      font-family: paraMedium;
      font-size: 1.5vw;
      color: #FBB95A;
    }


    .speiseName {
      display: inline;
      font-family: paraMedium;
      font-size: 1.2vw;
      color: #d32027;
    }


    .speisePreis {
      display: inline;
      font-family: paraMedium;
      font-size: 1.2vw;
      color: #d32027;
    }


    .speiseInfo {
      display: inline;
      font-family: paraLight;
      font-size: 1.2vw;
      color: white;
    }


    #maki, #nigiri, #sashimi, #insideout, #tempura, #veggie, #futomaki, #mixbox, #bowl, #nudelbox, #milkTea, #fruitMilk, #fruitTea, #fruitYogurt, #flavouredJuice, #special {
      height: 80vh;
      top: 10%;
      bottom: 10vw;
      display: none;
      z-index:1;
    }


    @keyframes fadeIn {
      from {opacity: 0;}
     to {opacity: 1;}
    }

    @keyframes grow-shrink {
      85% { scale:  0.8 }
    }

    @keyframes slide {
  from {height: 100vh; opacity: 1;}
  to {height: 0vh; opacity: 0;}
}

  @keyframes hide {
    0% { visibility: visible; }
    100% { visibility: hidden; }
  }


    .disclaimer {
      font-family: paraMedium;
      text-align: center;
      font-size: 0.9vw;
      color: white;
    }

    #impressum p {
      text-align: left;
    }


    .disclaimerBottom {
      position: fixed;
      bottom: 2vw;
      margin-left: 8.4%;
      z-index: 3;
    }


    .footerInhalt {
      position: fixed;
      bottom: 2.8vw;
      right: 3.1vw;
      z-index: 3;

    }


    .footerInhaltInhalt p {
      margin-bottom: 0;
    }



    #gradient {
    position: fixed;
    z-index:2;
    right:0; bottom:0%; left:0;
    height:35vh;
    left: 33.33%;
    width: 33.33%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,,0) 0%, rgba(0,0,0,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );

}

   #gradientBubble {
    opacity: 0;
    position: fixed;
    z-index:2;
    right:0; bottom:0%; left:0;
    height:35vh;
    left: 33.33%;
    width: 33.33%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(156,190,95,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(156,190,95,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );

}}

    @media (max-width: 600px){

  .introLogo {
  width: 14vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation: fadeIn, grow-shrink;
  animation-duration: 2.5s;
}

.loadingPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 4;
  animation: slide, hide;
  animation-delay: 2.5s;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  visibility: hidden;
}

    .inhalt p {
      margin-inline-end: 0.5em;
    }


    .main {
      display: flex;
      height: 100%;
    }

    .circleNavi {
      display: none;
    }


    .menu {
      height: 80vh;
      width: 40%;
    }

  .inhalt {
      margin-top: 12vw;
      height: 75vh; 
      width: 60%;
      overflow-y: scroll;
    }

    .footer {
      display: none;
    }


    #logo {
      width: 40vw;
      bottom: 12vw;
      margin-left: 28%;
      position: fixed;
      z-index: 3;
    }

    #logoBubbleTea {
      display: none;
      width: 40vw;
      bottom: 12vw;
      margin-left: 28%;
      position: fixed;
      z-index: 3;
    }

    button {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      font-family: paraMedium;
      color: white;
      font-size: 4.5vw;
      display: inline-block;
    }

     .naviEins {
      margin-inline-end: 0.4em
    }


    .naviZwei {
      margin-inline-end: 0.5em;
    }

    .naviDrei {
      margin-inline-end: 0.5em
    }


    .naviGator {
      position: fixed;
      display: inline;
      margin-top: 2vw;
      margin-left: 8.2vw;
      width: 100%;
    }


    .speisen {
      position: fixed;
      left: 5vw;
      top: 10%;
      bottom: 10vw;
      overflow-y: scroll;
    }

    .getraenke {
      position: fixed;
      left: 5vw;
      top: 30%;
      bottom: 10vw;
      overflow-y: scroll;
    }

    #dropdownSpeise, #dropdownGetraenke {
      display: none;
      list-style: none;
      font-family: paraLight;
      color: white;
      font-size: 5.8vw;
      text-align: left;
    }


    .inhaltSpeiseDrei, .inhaltSpeiseZwei, .inhaltSpeiseEins {
      margin-bottom: 2em;
    }


    .speiseSubheadline {
      font-family: paraMedium;
      position: sticky;
      font-size: 4.2vw;
      color: white;
      position: sticky;
      top: 0;
    }

    .speiseSubInfo {
      position: sticky;
      margin-top: 0;
      font-family: paraMedium;
      font-size: 4.2vw;
      color: white;
    }


    .speiseNumber {
      display: inline;
      font-family: paraMedium;
      font-size: 4.5vw;
      color: #d32027;
    }


    .bubbleTeaNumber {
      display: inline;
      font-family: paraMedium;
      font-size: 4.5vw;
      color: #FBB95A;
    }


    .speiseName {
      display: inline;
      font-family: paraMedium;
      font-size: 3.6vw;
      color: #d32027;
    }


    .speisePreis {
      display: inline;
      font-family: paraMedium;
      font-size: 3.6vw;
      color: #d32027;
    }


    .speiseInfo {
      display: inline;
      font-family: paraLight;
      font-size: 3.6vw;
      color: white;
    }


    #maki, #nigiri, #sashimi, #insideout, #tempura, #veggie, #futomaki, #mixbox, #bowl, #nudelbox {
      height: 100%;
      text-align: right;
      margin-top: 2vw;
      margin-bottom: 10vw;
      display: none;
    }


    .disclaimer {
      font-family: paraMedium;
      text-align: center;
      font-size: 2.5vw;
      color: white;
    }


    .disclaimerBottom {
      position: fixed;
      bottom: 2vw;
      margin-left: -9.5%;
      z-index: 2;
    }

    #anfahrt {
      height: 10vh; 
      width:100%;
      display: none;
      position: fixed;
      top: 15%;
    }

    .footerInhalt {
      position: fixed;
      bottom: 0;
      right: 0;

    }

    .footerInhaltInhalt p {
      margin-bottom: 0;
    }

    .headline {
      font-family: paraLight;
      text-align: center;
      font-size: 10vw;
      color: white;
      margin: 0.6em 0 1em 0;
      line-height: 0.9;
    }


    .subHeadline {
      font-family: paraMedium;
      text-align: center;
      font-size: 4.8vw;
      color: white;
      margin: 1em 0 2em 0;
    }


    .subsubHeadline {
      font-family: paraMedium;
      text-align: center;
      font-size: 4.2vw;
      color: white;
      margin: 1em 0 1em 0;
    }

    #impressum {
      display: none;
      font-family: paraLight;
      color: white;
      font-size: 1.5vw;
    }

#gradient {
    position:fixed;
    z-index:1;
    right:0; bottom: 0%; left:0;
    height:30vh;
    width: 100%;
    left: 0;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,,0) 0%, rgba(0,0,0,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );

}

#gradientBubble {
    display: none;
    position:fixed;
    z-index:-2;
    right:0; bottom: 0%; left:0;
    height:30vh;
    width: 100%;
    left: 0;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,,0) 0%, rgba(156,190,95,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(156,190,95,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(156,190,95,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );

}






    }


